/* 공통 */
* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
}

body {
  overflow: hidden;
}

.body--dark {
  background-color: #0f4c81;
}

.body--light {
  background-color: #c5d2e7;
}


input:focus, button:focus, textarea:focus {
  outline: none;
}

textarea {
  resize:vertical;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.button--add {
  background: url('/add.svg') no-repeat;
  margin-right: 5px;
  &:hover {
    background: url('/add_hover.svg') no-repeat;
  }
}

.button--delete {
  background: url('/delete.svg') no-repeat;
}

.button--close {
  width: 1.8rem;
  height: 1.8rem;
  background: url('/delete.svg') no-repeat;
}

.button--delete:hover, .button--close:hover {
  background: url('/delete_hover.svg') no-repeat;
}

.button--cancel {
  width: 5rem;
  height: 2rem;
  background-color: #ffffff94;
  border: 1px solid #031d33;
  font-size: 1rem;
  line-height: 2rem;
  color: #031d33;
  box-sizing: border-box;
}

.button--complete {
  width: 5rem;
  height: 2rem;
  background-color: #031d33;
  border: 1px solid #031d33;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff;
  &:disabled{
    background-color: #cecece54;
    border: 1px solid#cecece54;
    color: #aaaaaa;
    cursor: default;
  }
}

.button--more{
  width: 2rem;
  height: 2rem;
  background: url('/more.svg') no-repeat;
}

.button--add-manager {
  width: 2rem;
  height: 2rem;
  background: url('/add_manager.svg') no-repeat;
  margin-right: 1rem;
}

.button--delete-manager {
  width: 1.5rem;
  height: 1.5rem;
  background: url('/delete.svg') no-repeat;
  &:hover {
    background: url('/delete_hover.svg') no-repeat;
  }
}

.button--mode{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.button--mode--light {
  @extend .button--mode;
  background: url('/light_mode.svg') no-repeat;
}

.button--mode--dark {
  @extend .button--mode;
  background: url('/dark_mode.svg') no-repeat;
}

/* 헤더 */
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.app-header--dark {
  background: linear-gradient(180deg, #00000081 0%, #0f4c81 100% );
  color: #fff;
}
.app-header--light {
  background: linear-gradient(180deg, #5c5c5c41, #c5d2e7 100% );
  color: #3E3F41;
}


.app-header > h1 {
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: normal;
  padding-left: 1.5rem;
}

.app-header__button-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

/* 메인앱 */
.app {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5rem);
}

.manager {
  display: flex;
  flex-direction: column;
  width: 33.33vw;
  padding: 1.5rem;
  margin: 1rem;
  box-sizing: border-box;
}

.manager--dark {
  @extend .manager;
  background: linear-gradient(180deg, #0f4c81 0%, #2e2e2e5b 80%);
  color: #ebebebce;
}

.manager--light {
  @extend .manager;
  background: linear-gradient(180deg, #c5d2e7 0%, #93C863 80%);
  color: #3E3F41;
}

.manager+.manager {
  margin-left: 0;
}

.manager__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manager__subject {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.manager__subject__count {
  background-color: #2e2e2e;
  color: #fff;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-right: 0.3rem;
}

.manager__subject__title {
  font-size: 1.2rem;
  cursor: pointer;
}


.manager__list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  overflow-y: scroll;
  height: 100vh;
}

.todo-wrapper, .todo-wrapper--dragged--before {
  padding-top: 1rem;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5rem;
  background-color: #faf9f91c;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.todo-wrapper--dragged--before::before {
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: #faf9f98c;
  margin-bottom: 1rem;
  content: '';
}

.todo__content {
  display: flex;
  width: 80%;
}

/* todo 추가 제너레이터 */
.manager__generator {
  display: none;
  flex-direction: column;
  margin-top: 2rem;
  transition: opacity 600ms, visibility 600ms;
}

.generator__input {
  min-height: 3.5rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.generator__input--dark {
  @extend .generator__input;
  background: #0f4c81;
  color: #fff;
  border: 1px solid #fff;
}

.generator__input--light {
  @extend .generator__input;
  background: #B6C6E0;
  color: #3E3F41;
  border: 1px solid #93C863;
}

.generator__input::placeholder {
  color: #ffffff7a;
}

.generator__buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.generator__buttons > .button--cancel {
  margin-left: 1rem;
}

/* modal */
.popup-wrapper {
  background-color: #00000080;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: #faf9f9;
  padding: 1.5rem;
  box-shadow: 0 0 20px #0000003b;
  color: #3E3F41;
}

.popup > h4 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #cecece;
}


.popup > h5 {
  font-size: 1rem;
  font-weight: normal;
  padding: 1rem 0 0.5rem 0;
}

.popup__input {
  padding: 0.8rem;
  border: 1px solid #cecece;
}

.popup > .button--complete {
  align-self: center;
  margin-top: 1rem;
}

.popup > .button--close {
  align-self: center;
  position: absolute;
  top: 0.7rem;
  right: 1.5rem;
  margin-top: 1rem;
  background-size: cover;
}


/* 히스토리 */
.history-center {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #eeeeee 10%, #adadadcb 100%);
  padding: 1.5rem;
  height: calc(100vh - 8rem);
  box-shadow: -4px -4px 15px #0000002c;
  transition: right 0.5s;
}

.history-center__header{
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.history-center__header > h2 {
  font-size: 1.2rem;
}

.history-center__list {
  height: 100%;
  overflow-y: scroll;
}

.history-center__history {
  line-height: 1.5rem;
  margin-top: 1rem;
}

.history-center__history__time {
  color: #6b6b6b;
  font-size: 0.8rem;
}